<div class="sidebar col-auto">
	<div class="sidebar__user-info row">
		<div class="sidebar__user-photo col-auto" style="background-image: url(static/img/assets/sidebar/photo.jpg);"></div>
		<div class="col-auto">
			<div class="sidebar__user-name">Abhisek Das</div>
			<div class="sidebar__user-followers">10,968 Followers</div>
		</div>
	</div>
	<nav class="sidebar__menu nav flex-column">
		<a class="sidebar__menu-item nav-link active" href="#"><img class="sidebar__menu-icon" src="static/img/assets/sidebar/dashbord-icon.svg">Dashboard</a>
		<a class="sidebar__menu-item nav-link" href="#"><img class="sidebar__menu-icon" src="static/img/assets/sidebar/social-feed-icon.svg">Social Feed</a>
		<a class="sidebar__menu-item nav-link" href="#"><img class="sidebar__menu-icon" src="static/img/assets/sidebar/invite-friends-icon.svg">Invite Friends</a>
		<a class="sidebar__menu-item nav-link" href="#"><img class="sidebar__menu-icon" src="static/img/assets/sidebar/settings-icon.svg">Settings</a>
		<a class="sidebar__menu-item nav-link" href="#"><img class="sidebar__menu-icon" src="static/img/assets/sidebar/log-out-icon.svg">Log Out</a>
	</nav>
	{{> footer-menu/footer-menu }}
</div>