@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "libraries/bootstrap/functions";
@import "libraries/bootstrap/variables";

@import "libraries/bootstrap/mixins/breakpoints";
@import "libraries/bootstrap/mixins/grid-framework";
@import "libraries/bootstrap/mixins/grid";

@import "libraries/bootstrap/grid";
@import "libraries/bootstrap/utilities/flex";

@import "libraries/bootstrap/mixins/hover";
@import "libraries/bootstrap/mixins/border-radius";
@import "libraries/bootstrap/nav";

@import "libraries/bootstrap/mixins/transition";
@import "libraries/bootstrap/mixins/box-shadow";
@import "libraries/bootstrap/modal";

@import "libraries/bootstrap/mixins/forms";
@import "libraries/bootstrap/forms";
a {
	text-decoration: none;
	color: inherit;
}
a:focus,
a:hover {
	color: inherit;
}
button {
	background: none;
    border: none;
    padding: 0;
}
button:focus {
	outline: none;

}
body {
	font-size: 14px;
	color: #333333;
	font-family: 'Roboto', sans-serif;
}
.hidden {
	visibility: hidden;
}
.page {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #EFF7ED;
	display: flex;
}
.contant-title {
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	text-transform: lowercase;
	color: #1CAF5E;
}
.btn {
	color: #1CAF5E;
	height: 40px;
	line-height: 40px;
	border: 1px solid #1CAF5E;
	border-radius: 4px;
	padding: 0 16px;
	transition: 0.3s ease;
}
.btn:hover,
.btn:focus {
	transform: scale(1.2,1.2);
	transition: 0.3s ease;
}
.full-btn {
	color: #fff;
	background: linear-gradient(180deg, #53CD72 0%, #1CAF5E 100%);
	border-radius: 6px;
	padding: 12px 15px 11px;
	min-width: 117px;
}
.contant {
	padding-top: 68px;
	padding: 5vh 0 0;
    margin-top: $header-height;
	width: calc(100% - #{$sidebar-width});
	overflow-y: auto;
	@media ($medium) {
		width: 100%;
	}
}
.tabs {
	&__item {
		font-size: 16px;
		color: #333333;
		margin-right: 35px;
		display: inline-block;
		position: relative;
		cursor: pointer;
		&.active:after,
		&:hover:after {
			content: '';
			display: block;
			width: 100%;
			height: 4px;
			background: #B8E986;
			border-radius: 5px;
			position: absolute;
			bottom: -8px;

		}	
	}
}
.modal {
	&-dialog {
		width: 600px;
		margin: 115px auto;
		@media  ($small) {
			width: 400px;
		}
		@media  ($xsmall) {
			width: 90%;
		}
	}
	&-content {
		padding: 25px;
	}
	&-title {
		font-size: 18px;
	}
	.close {
		position: absolute;
		top: 25px;
		right: 25px
	}
	label {
		font-weight: bold;
		font-size: 13px;
		color: #4F4F4F;
		margin-bottom: 8px;
		display: block;
	}
	input {
		
	}
	.full-btn {
		float: right;
	}
}
.form-control::placeholder
 {
  color: #B6B6B6;
}
input.error {
	box-shadow: 0 0 4px 1px #dc3d4d;
}
.error-mess {
	position: absolute;
    margin: 10px 15px;
    color: #dc3d4d;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 4px 1px #dc3d4d;
    &:before {
    	content: '';
    	position: absolute;
    	top: -8px;
    	display: block;
    	border-bottom: 8px solid  rgba(220, 61, 77, 0.62);;
    	border-right: 8px solid transparent;
    	border-left: 8px solid transparent;
    }
}