<div class="modal fade" id="addSocialModal" tabindex="-1" role="dialog" aria-labelledby="addSocialModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><img src="static/img/minified-svg/close.svg"></span>
      </button> 
      <h4 class="modal-title" id="addSocialModalLabel">Add Social Profile</h5>
      <p>Add new social profile for tracking</p>
      <form id="addSocialForm">
        <div class="form-group">
          <label for="addUrl">URL</label>
          <input class="form-control" id="addUrl" type="text" name="url" placeholder="https://twitter.com/username">
        </div>
        <button class="full-btn">Lookup</button>
      </form>
    </div>
  </div>
</div>